:root { --fonte-principal: "Funnel Display", sans serif; }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
  display: flex;
  align-items: center;
  background-color: #0056a0; 
  height: 100px; 
}


.logo {
  position: relative;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: 0 70px;
  overflow: hidden; 
}

/* é necessario fazer essa merda aqui pra nao sair a imagem do frame */
.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../images/ELEVADOR.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  transform: scale(1); 
  transition: transform 1.0s ease, filter 1.4s ease;
  z-index: 0;
}

/* efeito no hover */
.logo:hover::before {
  filter: brightness(100%);
  transform: scale(1.1); /* zoom controlado */
}

/* Texto sobre a imagem */
.logo h1 {
  font-family: "Funnel Display", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  color: white;
  margin: 0;
  z-index: 1; /* fica acima da imagem */
}


nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding-left: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-weight: 500;
  letter-spacing: 5px;
}

main {
    padding: 40px;
    text-align: center;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}